/*------------------------------------*\
    #DATATABLES
\*------------------------------------*/

.dataTables_wrapper {
    overflow-x: scroll;
    @include grid-column-scale-all(dmag-large);
}


.datatable {
    @include font-scale(textSans, 1);

    thead { background: $color__black; color: $color__white; }

    .sorting_1 { 
        color: $color__white;
    }

    .hidden-phone {
        @include breakpoint(small-only) {
            display: none;
        }
    }

    td, th { padding: 1em 0.7em; }
    .odd { background: $color__gray--light; }

}