/*------------------------------------*\
    #FULL-WIDTH LAYOUT
\*------------------------------------*/
/*
Dramatic Stories (Busby Berkeley)
No Sidebar, ads injected into text
Large Screens: Large Hero Image, wider text column
Medium Screens: Full bleed hero images and attachment images 
Small Screens: Full bleed hero image
*/

body:not(.is-slideshow-open).layout--full-width {
    .story-wrapper {
        @include container__medium($pad: false);
        @include container__small($pad: false);
    }

    // .story__header {
    //     @include bleed__small; //dont need to bleed medium bc using no-padding container
    // }

    .story__image-caption {
        @include breakpoint(large-only) {
            float: right;
            width: span(2 of 12);
        }
        @include container__medium;
        @include container__small;
    }


    .story__header__content {
        @include title-box;
    }


    .story__content {
        @include breakpoint(large-only) {
            @include span(8 of 12);
            @include push(2 of 12);
            // margin-left: span-gutter(2, 12);
            float: none;
        }
        @include breakpoint(small-only) {
            padding-left: $padding__small;
            padding-right: $padding__small;
        }
    }

    // On Medium screens with full bleed attachment images, need to add 
    // padding to captions so that they are not flush against browser edge
    // see _images.scss for more image styling
    @include breakpoint(medium_small) {
        .alignleft .wp-caption-text {
            padding-left: 10px; //TKTK
        }
        .alignright .wp-caption-text {
            padding-right: 10px; //TKTK
        }
    }
}

