.story__content,
.gu-block__content {

    a  { @include link-style; }

    h2 { margin-top: 2em; margin-bottom: 0; }

    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        margin-top: 2rem;
    }

    > h2,
    > h3, 
    > h4, 
    > h5, 
    > h6,
    > p,
    > img,
    > figure,
    > figure img,
    > figure video {
       &:first-child {
            margin-top: 0;
        }
    }

    // if a header is preceded by another header, have minimal spacing
    @for $index from 2 through 6 {
        h#{$index} {
            @for $index2 from 3 through 6 {
                + h#{$index2} { margin-top: 0.5rem; }
            }
        }
    }

}


.story__content--is-slideshow-closed {
    @include font-scale(bodyCopy, 1);

    h2 { @include font-scale(headline, 2); }
    h3 { @include font-scale(secondaryHeading, 2); }
    h4 { 
        @include font-scale(accent, 4);
        text-decoration: underline;
    }
    h5 { 
        @include font-scale(textSans, 3, $caps: true);
        color: $color__blue-dmag;
    }
    h6 { 
        @include font-scale(textSans, 1, $caps: true);
        color: $color__gray--dark;
    }

    ul, ol, dl { margin-top: 1em; margin-bottom: 1.5em; padding-left: 1em; }

    li { margin-top: 1em; }

    blockquote:not(.pull-quote) { 
        margin-left: 1em;
        padding-left: 1em;
        border-left: 4px solid $color__gray--medium;
    }

    // this class is added via the tinymce editor. 
    // see the dmagazine plugin, class-wysywig-editor
    .sans-bold {
        @include font-scale(accent, 3, $caps: true);
    }
}



.story__content--no-link-style {
    a {
        @include no-link-style;
    }
}