/*------------------------------------*\
    #PULL QUOTE
\*------------------------------------*/
blockquote { margin-left: 0; }

.pull-quote {
    @include font-scale(headline, 3);
    @include grid-column-scale-all(quote);

    padding-right: gutter(4);

    @include breakpoint(medium-only) {
        padding-left: gutter(6);
    }
    @include breakpoint(medium_small) {
        text-align: center;
    }

    p { margin: 0; }
}

.pull-quote__attribution {
    @include font-scale(kicker, 1, $caps: true);
}



/*------------------------------------*\
    #ASIDE
\*------------------------------------*/
.aside {
    border-top: 5px solid $color__black;
    border-bottom: 5px solid $color__black;
    margin-top: 1em;
    padding: 1em 0;
    @include grid-column-scale-all(dmag-small);
    @include breakpoint(medium-only) {
        padding-left: gutter(6);
    }

    h2, h3, h4, h5, h6, p, span { margin-top: 0.5rem; }

    h2 { @include font-scale(secondaryHeading, 2); }
    h3 { @include font-scale(secondaryHeading, 2, $caps: true); color: $color__red-dmag; }
    h4 {  @include font-scale(accent, 4, $caps: true); }

    .aside__title {
        @include font-scale(accent, 3);
        // margin: 0;
    }
    .aside__subtitle {
        @include font-scale(accent, 1, $caps: true);
    }
    .aside__text {
        @include font-scale(textSans, 3);
    }

    .aside__location {
        @include font-scale(accent, 3);
    }

    .aside__rating {
        @include font-scale(secondaryHeading, 5, $no-line-height: true);
        line-height: 1;
    }
}




/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.story__footer {
    margin: gutter(3) 0;
    border-top: 1px solid $color__gray--light;
}

.story__categories,
.story__tags {
    margin: 0;
    padding-top: gutter(8);
}

.story__category,
.story__tag {
    @extend %list-unstyled;
    display: inline-block;
    @extend %is-hover;
    @include font-scale(accent, 1, $caps: true);
    // margin-bottom: 0.5em;
}

.story__tags-title {
    @include font-scale(textSans, 2);
    color: $color__gray--darker;
    margin-right: 0.4em;
    & ~ ul { display: inline-block; }
}

.story__category {
    margin-right: 0.4em;
    margin-bottom: 0.6em;
}

.story__category__link {
    display: block;
    padding: 0.6em 0.8em;
    @include transition(color);

    @extend %is-hover;
}

.story__tag {
    &:after {
        content:'/';
        color: $color__red-dmag;
    }
    &:last-child {
        &:after { content: ''; }
    }
}

@for $i from 1 through 15 {
    .story__category:nth-child(#{$i}) {
        $cat_color: darken( $color__gray--light, ($i * 5) );
        background: $cat_color;
    }
}

/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
.story__pagination,
.pagination__numbers,
.pagination__number,
.pagination__item {
    display: inline-block;
}


.story__pagination {
    border: 1px solid $color__gray--medium;
    border-right: 0;
    @include font-scale(secondaryHeading, 1);
    color: $color__gray--darker;
    margin-top: 1em;
}

.pagination__numbers {
    margin: 0;
    @extend %list-unstyled;
}

.pagination__number .is-active {
    color: $color__red-dmag;
}

.pagination__item {
    @include transition(background);
    &:hover {
        background: $color__gray--light;
    }
    padding: 1em;
    border-right: 1px solid $color__gray--medium;

}
