@mixin striped-background {
	background-image: url(#{$image-path}hash-dark.png);
	background-repeat: repeat;
}

@mixin striped-background-light {
	background-image: url(#{$image-path}hash-light.png);
	background-repeat: repeat;
}

.adunit {
	text-align: center;
	@extend %clearfix;
	clear: both;
	-webkit-touch-callout: none; // this prevents the 'save image' popup from appearing on ios devices

	.feed__featured & { margin-top: gutter(6); }

	&.display-none { display: none !important; }
}

.adunit--horizontal {

	.story__content & {
		margin-top: 1em;
	}

	.tl-blocks & {
		margin-bottom: gutter(6);
		background-color: $color__white;
	}

	margin-left: $full-width-margin;
	margin-right: $full-width-margin;

	@include striped-background;

	@include breakpoint(large-only) {
		padding: 1.8em 0;
	}
	@include breakpoint(medium_small) {
		padding: 1em 0;
	}

}

.adunit--slideshow {
	&:not(.adunit--directory) {
		@include striped-background-light;
		padding: gutter(6);
		display: inline-block;
	}
}

.adunit--directory { 
	@include breakpoint(large-only) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@include breakpoint(medium_small) {
		margin-left: $full-width-margin;
		margin-right: $full-width-margin;
	}

	&.adunit--vertical {
		@include striped-background;
		padding: 1em 0;
	}
}

// if the window is resized, these style will hide rendered ads
.adunit--desktop {
	@include breakpoint(small-only) {
		display: none;
	}
}

.adunit--mobile,
.adunit--mobile_top {
	@include breakpoint(large_medium) {
		display: none;
	}
}

.adunit--mobile_top {
	background-color: $color__white;
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid $color__black;
	z-index: $z-ground-top;
	@include breakpoint(medium_small) {
		padding: 0.5em 0;
	}
}

// remove striped background
// used on dweddings
.adunit--clean {
	background-image: none;
}