@mixin striped-background {
}

@mixin striped-background-light {
}

@mixin striped-background-styles {
	margin-left: $full-width-margin;
	margin-right: $full-width-margin;

	@include breakpoint(large-only) {
		padding: 1.8em 0;
	}
	@include breakpoint(medium_small) {
		padding: 1em 0;
	}
}

.adunit:not(.adunit--native) {
	text-align: center;
	@extend %clearfix;
	clear: both;
	-webkit-touch-callout: none; // this prevents the 'save image' popup from appearing on ios devices

	.feed__featured & { margin-top: gutter(6); }
}

.adunit.display-none,
.js-adunit-native.display-none {
	display: none !important;
}


.adunit--horizontal:not(.adunit--native) {

	.story__content & {
		margin-top: 1em;
	}

	// timeline template
	.tl-blocks & {
		margin-bottom: gutter(6);
		background-color: $color__white;
	}
}

.adunit--vertical:not(.adunit--native) {
}

.adunit:not(.adunit--native) {
  padding: 25px 12px 40px;
  :before {
    content: 'Advertisement';
    display: block;
    padding: 10px 0 10px 0;
    font-family: $ff-font--primary;
    font-weight: 500;
    font-size: 10px;
    color: $c-gray;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
}

.adunit--slideshow {
	&:not(.adunit--directory) {
		padding: gutter(6);
		display: inline-block;
	}
}

.adunit--directory.adunit--directory {
	@include breakpoint(large-only) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@include breakpoint(medium_small) {
		margin-left: $full-width-margin;
		margin-right: $full-width-margin;
	}

	&.adunit--vertical {
		padding: 1em 0;
	}
}

// if the window is resized, these style will hide rendered ads
.adunit--desktop {
	@include breakpoint(small-only) {
		display: none;
	}
}

.adunit--mobile,
.adunit--mobile_top {
	@include breakpoint(large_medium) {
		display: none;
	}
}

// these are just placeholders for the 'real' ad, so hide once it serves its purpose
.adunit--native.adunit-loaded {
	display:none !important;
}


