$height__social-button: 40px;

.social-button .icon { @extend .icon--small; }
.button--sms.social-button .icon { width: auto; height: auto; @include font-scale(accent, 1, $caps: true, $no-line-height: true); }


// vertical layout on larger screens. different color backgrounds. white icons. Used on story pages and directory listings
.social-buttons--style1,
.social-buttons--style4 {

	width: 100%;
	overflow: hidden; //clearfix;
	position: relative;
	z-index: $z-ground;
	color: $color__white;

	.button--facebook { background: $color__brand__facebook; }
	.button--twitter { background: $color__brand__twitter; }
	.button--pinterest { background: $color__brand__pinterest; }
	.button--sms { background: $color__sms; }
	.button--comments { 
		background: $color__gray--darker;
		color: $color__white;
	}

	a, .icon { @include no-link-style; }

	.social-button {
		height: $height__social-button;
		line-height: $height__social-button;
		position: relative;
		opacity: 0.8;
		&:hover { opacity: 1; }
		float: left;
	}

	.social-button-inner {
		text-align: center;
		width: 100%;
	}

	.icon.icon {
		@extend .icon--white;
		color: $color__white;
		display: inline-block;
		margin: 0 auto;
		height: $height__social-button;
	}

	.disqus-comment-count {
		@include font-scale(kicker, 1);
		padding-left: 3px;
	}

}


.social-buttons--style1 {
	margin-bottom: 1rem;
	.social-buttons-inner {
		@include breakpoint(small-only) { 
			display: flex;
			justify-content: space-around;
			flex-direction: horizontal;
		}
	}
	.social-button {
		width: 100%;
		@include breakpoint(small-only) {
			width: auto;
			flex-grow: 1;
		}
	}
}

.social-buttons--style4 {
	.social-button { width: 50px; }
}




// horizontal layout. white icons. Used in simple nav like on the timeline and guide templates
.social-buttons--style2 {
	@include breakpoint(large_medium) {
		position: absolute;
		right: 0;
		top: 0;
		padding-right: 2rem;
	}

	@include breakpoint(small-only) {
		display: inline-block;
		position: relative;
		margin-top: 1rem;
	}

	.social-button {
		float: left;
		padding: 1rem;
		@include is-hover();
	}

	.icon { 
		@extend .icon--white;
		color: $color__white;
	}
}





// horizontal layout. gray icons. borders. Used on neighborhood guides
.social-buttons--style3 {
	@extend %clearfix;
	border-top: 1px solid $color__gray--medium;
	border-bottom: 1px solid $color__gray--medium;
	padding: 0.5rem 0;

	.social-buttons-inner {
		display: flex;
		justify-content: space-around;
		flex-direction: horizontal;
	}

	.social-button {
		flex-grow: 1;
		text-align: center;
		@include is-hover();
	}

	.icon { 
		@extend .icon--gray;
		color: $color__gray--dark;
	}
}

