/*------------------------------------*\
    #SOCIAL BUTTONS
\*------------------------------------*/
@mixin colors-social-button($color) {
	border-color: $color;
	@include icon-color($color, $color);
	color: $color;
	&:hover {
		color: $color__white;
		@include icon-color($color__white, $color__white);
		background-color: $color;
	}
}

$height__social-button: 40px;

.social-button .icon { @extend .icon--small; }
.button--sms.social-button .icon { width: auto; height: auto; @include font-scale(accent, 1, $caps: true, $no-line-height: true); }


// vertical layout on larger screens. different color backgrounds. white icons. Used on story pages and directory listings
.social-buttons--style1,
.social-buttons--style4 {

	width: 100%;
	overflow: hidden; //clearfix;
	position: relative;
	z-index: $z-ground;
	color: $color__white;

	.button--facebook { background: $color__brand__facebook; }
	.button--twitter { background: $color__brand__twitter; }
	.button--pinterest { background: $color__brand__pinterest; }
	.button--sms { background: $color__sms; }
	.button--comments { 
		background: $color__gray--darker;
		color: $color__white;
	}

	a, .icon { @include no-link-style; }

	.social-button {
		height: $height__social-button;
		line-height: $height__social-button;
		position: relative;
		opacity: 0.8;
		&:hover { opacity: 1; }
		float: left;
	}

	.social-button-inner {
		text-align: center;
		width: 100%;
	}

	.icon.icon {
		@extend .icon--white;
		color: $color__white;
		display: inline-block;
		margin: 0 auto;
		height: $height__social-button;
	}

	.disqus-comment-count {
		@include font-scale(kicker, 1);
		padding-left: 3px;
	}

}


.social-buttons--style1 {
	margin-bottom: 1rem;
	.social-buttons-inner {
		@include breakpoint(small-only) { 
			display: flex;
			justify-content: space-around;
			flex-direction: horizontal;
		}
	}
	.social-button {
		width: 100%;
		@include breakpoint(small-only) {
			width: auto;
			flex-grow: 1;
		}
	}
}

.social-buttons--style4 {
	.social-button { width: 50px; }
}




// horizontal layout. white icons. Used in simple nav like on the timeline and guide templates
.social-buttons--style2 {
	@include breakpoint(large_medium) {
		position: absolute;
		right: 0;
		top: 0;
		padding-right: 2rem;
	}

	@include breakpoint(small-only) {
		display: block;
		width: 100%;
		position: relative;
		margin-top: 1rem;
		.social-buttons-inner {
			display: inline-block;
		}
	}

	.social-button {
		float: left;
		padding: 1rem;
		@include is-hover();
	}

	.icon { 
		@extend .icon--white;
		color: $color__white;
	}
}


// simple white buttons, used in basic nav
.social-buttons--style5 {
	color: $color__white;
	@include font-scale(accent, 1, $caps: true, $no-line-height: true);
	.social-buttons-inner {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.social-button {
		padding: 0 0.5em;
		&:last-child { padding-right: 0; }
		@include transition(opacity);
		&:hover {
			opacity: 0.8;
			@include transition(opacity);
		}
	}
	.icon {@include icon-color($color__white, $color__black); }
}


// react circular social buttons
.social-buttons--circles {
	.social-buttons__text {
		@include font-scale(textSans, 1, $caps: true);
	}
	.social-buttons-inner {
		display: flex;
		align-items: center;
	}
	.social-button {
		width: 35px;
		height: 35px;
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $color__black;
		border-radius: 50%;
	}

	.button--facebook {
		@include colors-social-button($color__brand__facebook);
	}
	.button--twitter {
		@include colors-social-button($color__brand__twitter);
	}
	.button--pinterest {
		@include colors-social-button($color__brand__pinterest);
	}
	.button--sms {
		@include colors-social-button($color__sms);
	}
}





/*------------------------------------*\
    #SOCIAL LINKS - less complicated than buttons, use a different macro
\*------------------------------------*/
.social-links {
	.social-link {
		padding: 0 0.4em;
		@include icon-color($color__gray--dark);
	}

	.social-link--facebook:hover { @include icon-color($color__brand__facebook); }
	.social-link--twitter:hover { @include icon-color($color__brand__twitter); }
	.social-link--pinterest:hover { @include icon-color($color__brand__pinterest); }
	.social-link--instagram:hover { @include icon-color($color__brand__instagram); }
}