$size__icon-mini: 12px;
$size__icon-small: 16px;
$size__icon-medium: 24px;
$size__icon: 32px;
$size__icon-large: 64px;

@mixin icon__stroke-width($width) {
    path,
    g path,
    circle,
    rect,
    polyline,
    polygon,
    line { 
        stroke-width: $width; 
    }
}

@mixin icon-color-part__outline($color: '') {
    &.icon--stroke { stroke: $color; }
    &.icon--fill { fill: $color; }
    &.icon--switch { stroke: $color; fill: none; }
}

@mixin icon-color-part($color: '') {
    &.icon--stroke { stroke: $color; }
    &.icon--fill { fill: $color; }
    &.icon--switch { fill: $color; }
}

@mixin icon-color($color-main, $color-accent: $color-main) {
    .icon__accent { @include icon-color-part($color-accent); }
    .icon__main { @include icon-color-part($color-main); }
}

@mixin icon-color__outline($color) {
    .icon__accent { @include icon-color-part__outline($color); }
    .icon__main { @include icon-color-part__outline($color); }
}

.icon {
    display: inline-block;
    vertical-align: middle;

    width: $size__icon;
    height: $size__icon;
    @include icon__stroke-width(2);
}

@mixin icon--mini($no-stroke: false) {
    width: $size__icon-mini;
    height: $size__icon-mini;
    @if $no-stroke == false {
        @include icon__stroke-width(7);
    }
}

@mixin icon--small($no-stroke: false) {
    width: $size__icon-small;
    height: $size__icon-small;
    @if $no-stroke == false {
        @include icon__stroke-width(7);
    }
}

@mixin icon--medium($no-stroke: false) {
    width: $size__icon-medium;
    height: $size__icon-medium;
    @if $no-stroke == false {
        @include icon__stroke-width(3);
    }
}

@mixin icon--large($no-stroke: false) {
    width: $size__icon-large;
    height: $size__icon-large;
    @if $no-stroke == false {
        @include icon__stroke-width(1);
    }
}


.icon--black {
    @include icon-color($color__black, $color__white);
}

.icon--mini {
    @include icon--mini;
}

.icon--small {
    @include icon--small;
}

.icon--medium {
    @include icon--medium;
}

.icon--large {
    @include icon--large;
}

.icon--blue {
    @include icon-color($color__blue-dmag, $color__white);
}

.icon--red {
    @include icon-color($color__red-dmag, $color__white);
}

.icon--white {
    @include icon-color($color__white, $color__black);
}

.icon--white-blue {
    @include icon-color($color__white, $color__blue-dmag);
}

.icon--white-o {
    @include icon-color__outline($color__white);
}

.icon--blue-o {
    @include icon-color__outline($color__blue-dmag);
}

.icon--red-o {
    @include icon-color__outline($color__red-dmag);
}

.icon--gray {
    @include icon-color($color__gray--dark, $color__white);
}
