/*

https://codex.wordpress.org/Styling_Images_in_Posts_and_Pages

filter_ptags_on_images in custom-images.php removes defualt <p> from around images
other functions remove inline width from images and figures
In the wysywig, images with captions are wrapped in figure tags.


Example image w caption:
<figure id="attachemnt_100" class="wp-caption alignleft">
    <a href="$url">
        <img class="wp-image-100 size-large" src="$url">
    </a>
    <figcaption class="wp-caption-text">Caption Text</figcaption>
</figure>

Example image w/o caption:
<a href="$url">
    <img class="alignleft wp-image-100 size-large" src="$url">
</a>

*/

iframe {
    max-width: 100%;
}

.image {
    width: 100%;
    display: block;
    position: relative;
}


img, 
figure {
    margin: 0;
}

.image-caption,
.wp-caption-text {
    @include font-scale(textSans, 1);
    color: $color__gray--dark;
}

.image-caption__credit {
    @include font-scale(accent, 1, $caps: true);
}

// this counter-acts the inline width and height that wp puts on images
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width:100%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

// these are full width images
// quick fix tktk
.size- {
    max-width: 100%;
}

// figures not wrapped in <p> like images are, so have to have them top margin
.story__content figure {
    margin-top: 1em;
}

.alignleft,
.alignright,
.aligncenter,
.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
}

.alignleft {
    margin-right: gutter(7);
    clear: left;
    float: left;
}

.alignright {
    margin-left: gutter(7);
    clear: right;
    float: right;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.size-dmag-xlarge {
    @include grid-column-scale-all(dmag-xlarge);
    &.alignright { float: none; }
}

.size-dmag-large {
    @include grid-column-scale-all(dmag-large);
    &.alignleft { margin-right: 0; }
    &.alignright { margin-left: 0; }
    img { max-width: 100%; }
}

.size-medium,
.size-dmag-small {
    @include grid-column-scale(dmag-small, large-only, full-width, margin);
    @include grid-column-scale(dmag-small, large-only, with-sidebar, margin);
    @include grid-column-scale(dmag-small, medium-only, full-width, margin, medium-upper);
    @include grid-column-scale(dmag-small, medium-only, full-width, margin, medium-lower);
    @include grid-column-scale(dmag-small, medium-only, with-sidebar, margin, medium-upper);
    @include grid-column-scale(dmag-small, medium-only, with-sidebar, margin, medium-lower);
    img { max-width: 100%; }
}

// old legacy sizes from old wordpress
.size-large,
.size-small {
    max-width: 100%;
}

.layout--with-sidebar .size-dmag-xlarge {
    opacity: 0.2; //discourage editors from using this image size w this layout 
}

@include breakpoint(small-only) {
    // /* figure */.wp-caption a {
    //     display: block;
    //     background: $color__gray--light;
    // }

    // img[class*="wp-image-"],
    // .image--archive {
    //     margin: 0 auto;
    //     display: block;
    // }

    .alignleft,
    .alignright,
    .aligncenter,
    .alignnone {
        clear: both;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .story img {
        max-width: 100%; 
    }
}





//tktkt probs.
.loading-image-wrapper {
    @include breakpoint(large-only) {
        @include span(8 of 12);
    }
    text-align: center; 
}
.loading-image {
    display: inline-block;
}



