/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
$pagination__spacing: 0.3em;

.pagination,
.pagination__numbers,
.pagination__number,
.pagination__item {
    display: inline-block;
}


.pagination {
    color: $color__black;
    margin-top: 1em;
    font-size: 0;
}

.pagination__numbers {
    margin: 0;
    @extend %list-unstyled;
    &:last-child .pagination__number:last-child { border-right: 0; }
}

.pagination__number,
.pagination__prev {
    border-right: 1px solid $color__gray--medium;
}

.pagination__number .is-active,
.pagination__number.is-active {
    color: $color__blue-dmag;
    font-weight: bold;
    &:hover { opacity: 1; }
}

.pagination__item {
    @include font-scale(textSans, 4);
    @include transition(opacity);
    &:hover {
        opacity: 0.5;
    }
    padding: $pagination__spacing 0.8em;
}