/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
.pagination,
.pagination__numbers,
.pagination__number,
.pagination__item {
    display: inline-block;
}


.pagination {
    border: 1px solid $color__blue-dmag;
    border-right: 0;
    color: $color__black;
    margin-top: 1em;
    font-size: 0;
}

.pagination__numbers {
    margin: 0;
    @extend %list-unstyled;
}

.pagination__number .is-active {
    color: $color__white;
    background-color: $color__blue-dmag;
    &:hover { background-color: $color__blue-dmag; }
}

.pagination__item {
    // @include font-scale(secondaryHeading, 1);
    @include font-scale(accent, 3);
    @include transition(background);
    &:hover {
        background: $color__gray--light;
    }
    padding: 1em;
    border-right: 1px solid $color__blue-dmag;

}