.card--sponsored {
	background: $color__sponsored;
	.card__title {
		@include font-scale(secondaryHeading, 4);
	}

	&.card--vertical .card__content { padding-left: gutter(8); }
	@include breakpoint(large-only) {
		&.card--switch .card__content { padding-left: gutter(8); }
	}

	.card__content {
		padding-right: gutter(8);
	}
}

.story--sponsored {
	.story__title {
		@include font-scale(secondaryHeading, 5);
	}
}

.w-stories__item--sponsored {
	background: $color__sponsored;
}