@include dmag-typography-defaults($chronicle-ss);

::selection {
    background: $color__gray--dark;
    @include no-link-style;
    color: $color__white;
}

.header {
    @include font-scale(secondaryHeading, 3, $caps: true);
}

.headline {
    @include font-scale(headline, 2);
}

.category,
.kicker {
    @include font-scale(kicker, 1, $caps: true);
    color: $color__red-dmag;
    margin-bottom: 0.3em;
    @extend %is-hover;
}


.byline,
.kicker--secondary {
    @include font-scale(kicker, 1, $caps: true);
    color: $color__gray--dark;
    @extend %is-hover;
}

.subhead {
    @include font-scale(textSans, 4);
}

.subhead--big {
    @include font-scale(secondaryHeading, 2);
}

.image-caption,
.wp-caption-text {
    @include font-scale(textSans, 1);
    color: $color__gray--dark;
}

.image-caption__credit {
    @include font-scale(textSans, 1);
    font-style: italic;
    display: block; // move to new line
}
