.footer--basic {
	clear: both;
	background: $color__black;
	color: $color__white;
	@include font-scale(textSans, 2);
	padding: 2em 0;
	a { text-decoration: underline; }
	z-index: $z-nav;
	position: relative;
	@include breakpoint(small-only) {
		text-align: center;
	}
}

.footer--basic__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@include breakpoint(small-only) {
		justify-content: center;
	}
}

.footer--basic__text {
	flex-grow: 1;
}

.footer--basic__social {
	white-space: nowrap;
}

.footer--basic__social-link {
	&:not(:first-child) { margin-left: 1em; }
	@include is-hover;
	&.footer--basic__social-link { text-decoration: none; }// for links
}
