.footer--basic {
	clear: both; 
	background: $color__black;
	color: $color__white;
	@include font-scale(textSans, 2);
	padding: 2em 0;
	a { text-decoration: underline; }
	z-index: $z-nav;
	position: relative;
}

.footer--basic__social {
	float: right;
}

.footer--basic__social-link {
	margin-left: 1em;
	@include is-hover;
}

a.footer--basic__social-link { text-decoration: none; }