$height__header--basic: 50px;
$color__header--basic: $color__gray--darkest;

.header--basic {
	background: $color__gray--darkest;
	color: $color__gray--dark;
	height: $height__header--basic;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	// z-index

	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.header--basic__logo {
	height: $height__header--basic;
	float:left;
}

.header--basic__text {
	@include font-scale(accent, 4, $caps: true);
	line-height: $height__header--basic;
	float:left;
	padding-left: 1em;
	padding-right: 0.5em;
}

.header--basic__icon {
	height: $height__header--basic;
	@include icon-color__outline($color__gray--dark);

	.header--basic a:hover & {
		@include icon-color($color__gray--dark, $color__header--basic);
	}
} 

.header--basic-pushdown {
	@include breakpoint(large_medium) {
		padding-top: $height__header--basic;
	}
}