$height__nav--basic: 50px;
$color__nav--basic: $color__gray--darkest;

.nav--basic {
	background: $color__gray--darkest;
	color: $color__gray--dark;
	height: $height__nav--basic;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-nav;
	display: flex;
	align-items: stretch;
}

.nav--basic__link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
}

.nav--basic__logo {
	height: $height__nav--basic;
	float:left;
}

.nav--basic__text {
	@include font-scale(accent, 4, $caps: true);
	line-height: $height__nav--basic;
	float:left;
	padding-left: 0.8rem;
	padding-right: 0.5em;
	@include breakpoint(small-only) { display: none; }
}

.nav--basic__arrow {
	height: $height__nav--basic;
	@include icon-color__outline($color__gray--dark);
	.nav--basic a:hover & {
		@include icon-color($color__gray--dark, $color__nav--basic);
	}
	@include breakpoint(small-only) { display: none; }
} 

.nav--basic__social {
	display: flex;
	flex-grow: 0;
	align-items: center;
	padding: 0.8rem;
}

.nav--basic-pushdown {
	padding-top: $height__nav--basic;
}