$height__nav--basic: 50px;
$color__nav--basic: $color__gray--darkest;

.nav--basic {
	background: $color__gray--darkest;
	color: $color__gray--dark;
	height: $height__nav--basic;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-modal-below;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.nav--basic__logo {
	height: $height__nav--basic;
	float:left;
}

.nav--basic__text {
	@include font-scale(accent, 4, $caps: true);
	line-height: $height__nav--basic;
	float:left;
	padding-left: 1em;
	padding-right: 0.5em;
}

.nav--basic__icon {
	height: $height__nav--basic;
	@include icon-color__outline($color__gray--dark);

	.nav--basic a:hover & {
		@include icon-color($color__gray--dark, $color__nav--basic);
	}
} 

.nav--basic-pushdown {
	padding-top: $height__nav--basic;
}