.story-nav {
	background-color: $color__gray--darkest;
	width: 100%;
	padding: 0.8em 0;
	.story-nav:not(.scroll-to-fixed-fixed) { display: none; }
}

.story-nav-inner { 
	width: 100%;
	font-size: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.story-nav__logo { 
	display: none;
	width: 50px;
	flex: 0 0 50px;
	max-height: 50px; //have to give fixed height or chrome ads a bunch of extra space
	.scroll-to-fixed-fixed & { display: inline-block; }
	@include breakpoint(large_medium) {
		float: left;
	}
}

.story-nav__logo-image { width: 100%; display: block; }


/*------------------------------------*\
    #ITEMS - ALL
\*------------------------------------*/
@mixin story-nav__items {
	flex-grow: 1;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	float: left;
}

@mixin story-nav__item {
	@include font-scale(textSans, 3, $no-line-height: true);
	color: $color__gray--dark;
	list-style-type: none;
	padding-left: 0;
	vertical-align: middle;
}

.story-nav__number {
	@include font(accent);
	padding-right: 0.5em;
}

.story-nav__item--main {
	@include font-scale(accent, 3, $caps: true, $no-line-height: true);
}





/*------------------------------------*\
    #JUMPLINKS
\*------------------------------------*/
.story-nav__jumplinks {
	@include story-nav__items;
	align-items: center;
}

.story-nav__jumplink {
	@include story-nav__item;
	color: $color__gray--dark;
	text-align: center;
	flex: 1;
	white-space: nowrap;
}

.story-nav__jumplink__link {
	display: block;
	padding: 0.3em 1.5em;
	&.is-active {
		color: $color__white; font-weight: bold;
	}
}





/*------------------------------------*\
    #CHAPTERS
\*------------------------------------*/
.story-nav__chapters {
	@include story-nav__items;
	align-items: stretch;
}

.story-nav__chapter {
	@include story-nav__item;
	color: $color__gray--light;
	border-right: 1px solid $color__gray--light;
	text-align: left;
	flex: 1 0 200px;
}

.story-nav__chapter__link {
	display: block;
	padding: 1em 1.5em;
	height: 100%;
	@include transition(background-color);
	&.is-active,
	&:hover {
		@include transition(background-color);
		background-color: $color__gray--darker;
	}
}






/*------------------------------------*\
    #DROPDOWN
\*------------------------------------*/

.story-nav__dropdown {
	@include dropdown--color('gray');
	@extend .icon--gray;
	@include font-scale(textSans, 3, $no-line-height: true);
	width: 300px;
	max-width: calc(100% - 50px - 1em);
	display: inline-block;
	margin-left: 1em;
}