.nav--scroll {
	background-color: $color__gray--darkest;
	width: 100%;
	padding: 0.8em 0;
	.nav--scroll:not(.scroll-to-fixed-fixed) { display: none; }
}

.nav--scroll-inner { 
	width: 100%;
	font-size: 0;
	display: flex;
	align-items: center;
}

.nav--scroll__logo { 
	display: none;
	width: 50px;
	max-height: 50px; //have to give fixed height or chrome ads a bunch of extra space
	.scroll-to-fixed-fixed & { display: inline-block; }
	@include breakpoint(large_medium) {
		float: left;
	}
}

.nav--scroll__logo-image { width: 100%; display: block; }

.nav--scroll__items { 
	width: calc(100% - 50px);
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	float: left;
}

.nav--scroll__item {
	@include font-scale(textSans, 3, $no-line-height: true);
	flex-grow: 1;
	color: $color__gray--dark;
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 0.3em 1.5em;
	a.is-active { color: $color__white; font-weight: bold; }
}

.nav--scroll__dropdown {
	@include dropdown--color('gray');
	@extend .icon--gray;
	@include font-scale(textSans, 3, $no-line-height: true);
	width: 300px;
	max-width: calc(100% - 50px - 1em);
	display: inline-block;
	margin-left: 1em;
}