.page-wrapper {
	margin-bottom: gutter(3);
	margin-top: gutter(3);
}

.page--centered { text-align: center; }

.page__content {
	@extend .story__content--is-slideshow-closed;
	// pages are not editorial content, so get rid of chronicle
	h1 { @include font-scale(accent, 6, $responsive: false); }
	h2 { @include font-scale(accent, 5); }
	p { @include font-scale(textSans, 4); }
}

.page__subhead, p.page__subhead.page__subhead { @include font-scale(accent, 4); }


.template-form {
	background: $color__gray--medium;
}

.template-form__wrapper {
	background: $color__white;
}

.template-form__form {
	padding: gutter(8) gutter(5);
}