/**
 * TOC
 *
 * WIDGET
 * DIRECTORY-SEARCH-w
 * ARCHIVE-SEARCH-w
 * SCROLLER
 *
 */


.widget {
    @extend %clearfix;
    clear: both;
}

.widget--full-width {
    margin-left: $full-width-margin;
    margin-right: $full-width-margin;

    // styling for widgets within the feed, not at top of page
    &:not(.widget--top) {
        margin-top: gutter(6);
    }
}

.widget--sidebar {
    margin-bottom: gutter(2);

    .page--story & {
        @extend .is-hidden--medium_small;
    }
}

.widget--basic-large {
    padding-top: gutter(4);
    padding-bottom: gutter(4);
}

.widget--basic {
    padding-top: gutter(6);
    padding-bottom: gutter(6);
}

.widget--basic-small {
    padding-top: gutter(8);
    padding-bottom: gutter(8);
}

// the top widget needs reduced padding on the top and bottom
// so that more content can fit above the fold
// but, top padding needs to be enough to that its underneath the site kicker
// 'making dallas even better'
.widget--top {
    padding-top: 1em;
    padding-bottom: 1em;
    @include breakpoint(large-only) {
        padding-top: 2.5em;
        padding-bottom: 2em;
    }
}

.widget__header {
    margin-bottom: gutter(10);
    @extend %clearfix;
    @include breakpoint(medium_small) {
        text-align: center;
    }
}

    .widget__title {
        @extend .header;
    }

    .widget__title--simple {
        @include font-scale(accent, 5, $caps: true, $responsive: false);
        border-bottom: 1px solid black;
        padding-bottom: 0.5em;
    }

    .widget__title--with-link {
        @include breakpoint(large-only) {
            @include span(8 of 12);
        }

        @include breakpoint(medium_small) {
            text-align: center;
        }
    }

    .widget__link {
        @include breakpoint(large-only) {
            @include span(4 of 12 last);
            text-align: right;
        }
        @include font-scale(accent, 4);
        @include breakpoint(medium-only) {
            margin-top: 0.8em;
            display: block;
        }
        @include breakpoint(small-only) {
            display: none; // don't need this because there is also a link button
        }

        &:hover .widget__link__icon { @extend .icon--blue-o; }
    }

    .widget__link__icon {
        @include transition(all);
        @extend .icon--blue;
    }


/*------------------------------------*\
    #DIRECTORY-SEARCH-w
    #ARCHIVE-SEARCH-w
\*------------------------------------*/

.w-search {
    background-color: $color__gray--dark;
    color: $color__white;
}

    .w-search__error-message {
        @include font-scale(textSans, 2);
        color: $color__red-dmag;
    }


.w-directory-search__logo {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: auto;
}


.w-directory-search__title {
    @include font-scale(accent, 7);
    padding-top: gutter(6);
}

.w-directory-search__text {
    @include font-scale(textSans, 4);
    max-width: 600px;
    @include center-block;
    padding-top: 1rem;
}

.w-directory-search__buttons {
    @extend %clearfix;
    padding-top: 1.5rem;
    .button--search { text-overflow: ellipsis; }
    @include breakpoint(small-only) {
        .button--search { 
            margin-bottom: 1rem;
        }
    }
}


@include breakpoint(large_medium) {

    // tktk icky inheritance
    .w-directory-search__header {
        text-align: center; 

        .dropdown,
        .widget__title {
            display: inline-block;
            vertical-align: middle
        }

        .widget__title { margin-right: 0.6em; }

        .dropdown {
            text-align: left;
            width: span(2.5 of 12);
        }
    }

}

.w-directory-search__filters {
    @extend %clearfix;
    margin: 0.8em 0;
    color: $color__white;
    text-align: center;
}

.w-directory-search__filter-title {
    @include font-scale(textSans, 3);
    display: inline-block;
}

.w-directory-search__filter {
    @extend %list-unstyled;
    @extend %is-hover;
    display: inline-block;

    color: $color__white;
    @include font-scale(accent, 3, $caps: true);
    border-right: 1px solid;
    padding: 0 0.5em;

    &:last-child { border-right: 0; }
}

/*------------------------------------*\
    #STORIES-w
\*------------------------------------*/
// using Related Posts for WP plugin
.w-stories {
    margin-top: gutter(6);
}

.w-stories-inner {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: gutter(8);
    padding-bottom: gutter(8);
}

.w-stories-inner--simple {
    padding-top: gutter(8);
    padding-bottom: gutter(8);
}


.w-stories__item {
    &:last-child{ margin-right: 0; }
    img { max-width: 100%; } // tktk
}

    .w-stories__image-wrapper {
        @include aspect-ratio(3, 2);
        overflow: hidden;
    }

    .w-stories__content {
        margin-top: 1em;
    }

    .w-stories__title {
        @include font-scale(accent, 5);
    }


/*------------------------------------*\
    #SCROLLER
\*------------------------------------*/

.scroller__items {
    @extend %clearfix;

    @include breakpoint(medium_small) {
        @include scroller__items();
        padding-left: gutter(4);
    }
}

.scroller__item {
    @if mixin-exists(span-breakpoint) {
        @include span-breakpoint(main-full, 3, $column-number-small: 4);
    } @else {
        @include span(2.8 of 12);
    }
    
    @include breakpoint(medium_small) {
        @include scroller__item();
    }
}

.scroller__item--large {
    @include breakpoint(large-only) {
        text-align: left;
        @include span(6 of 12);
    }
}